.container {
    margin-bottom: 24px;
  }

  
  
  
  .titleContainer {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    justify-content: flex-start;
  }
  
  .iconContainer {
    margin-right: 8px;
  }
  
  .title {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    display: flex;
    justify-content: center;
  }
  
  .subtitle {
    font-size: 16px;
    color: #9E9E9E;
    margin-bottom: 12px;
    display: flex;
    justify-content: flex-start;
  }
  
  
  .content {
    margin-top: 8px;
  }


  